@media(max-width:380px) {
    .nav li{
        display: none;
    }
    .navbar{
        width: 380px;
    }
    .icon{
        display: none;
    }
    .btn {
        padding-top: 10px;
        padding-left: 50px;
    }

    .bgn {
        display: block;
        position: relative;
        right: 360px;
    }

    .content {
        position: relative;
        right: 150px;
        bottom: 100px;
        width: 300px;
        height: 100px;
        margin-top: 40px;
        margin-right: 40px;
        background-color: #022e34af;
        z-index: 1;
        color: white;
        text-align: center;
        padding: 20px;
        align-content: center;
        border-radius: 1200px;
        transform: rotate(45deg);
    }

    .citem {
        transform: rotate(-45deg);
        width: 140px;
        height: 20px;
        position: relative;
        left: 155px;
        top: 0px;
    }

    .citem h1 {
        font-size: x-small;
    }

    .citem button {
        padding: 5px 10px;
        margin-top: 10px;
        margin-left: 60px;
        display: flex;
        border-radius: 12px;
        border: none;
        align-items: center;
        color: #166772;
        background-color: #fff;
        cursor: pointer;
        font-size: 5px;
    }

    .blank {
        width: 356px;
        height: 20px;
        background-color: #f9f7f7;
        border-radius: 20px;
        margin-left: 70px;
        position: relative;
        bottom: 10px;
        right: 57px;
    }

    .ton {
        width: 316px;
        height: 654px;
        background-color: #166772;
        border-radius: 10px;
        position: relative;
        left: 33px;
        bottom: 20px;
    }

    .non {
        position: relative;
        top: 50px;
        left: 30px;
    }

    .non div {
        border: 2px solid white;
        padding: 0 20px;
        margin-left: 30px;
        margin-top: 25px;
        width: 150px;
        border-radius: 10px;
        display: block;

    }

    .xyz {
        height: 100px;

    }

    .card {
        overflow: scroll;
        position: relative;
        bottom: 70px;
    }

    .xyz h2 {
        font-size: medium;
        position: relative;
        top: 0px;


    }

    .fcard img,
    .tcard img,
    .thcard img,
    .focard img {
        width: 250px;
        height: 150px;
        position: relative;
        left: 0px;
        top: 10px;
        border-radius: 8px;
    }

    .jkl {
        display: block;
        height: 1300px;
        position: relative;
        top: 0px;

    }

    .asd {
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgb(48, 48, 48);
        position: relative;
        left: 40px;
        top: 30px;
        display: block;
    }

    .zxc {
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgb(48, 48, 48);
        position: relative;
        left: 40px;
        top: 70px;
    }

    .op {
        border-radius: 8px;
        box-shadow: 2px 2px 8px rgb(48, 48, 48);
        position: relative;
        left: 40px;
        top: 110px;
    }

    .trv {
        display: block;
        height: 1350px;
        position: relative;
        left: 0px;
        top: 0;
        bottom: 400px;
    }

    .opp {
        position: relative;
        left: 40px;
        top: 35px;
        display: block;
    }

    .llb {
        position: relative;
        left: 40px;
        top: 80px;
        display: block;
    }

    .hnb {
        position: relative;
        left: 40px;
        top: 130px;
        display: block;
    }

    .bhavesh {
        height: 580px;
        position: relative;
        top: 0px;

    }

    .df {
        width: 350px;
        height: 250px;
        position: relative;
        left: 50px;
        /* top: 70px; */
        display: block;
    }

    .yimg {
        display: block;
        position: relative;
        left: 0px;
        top: 10px;

    }

    .yimg img {
        position: relative;
        left: 50px;
    }

    .cdn {
        position: relative;
        top: 20px;
        padding: 0;
        height: 640px;
    }

    .vhh {
        position: relative;
        top: 40px;

    }

    .ving {
        display: flex;
        position: relative;
        top: 30px;
        height: 470px;
        overflow: scroll;
    }

    .hes {
        position: relative;
        left: 40px;
        top: 40px;
        display: block;
    }

    .kes {
        position: relative;
        left: 70px;
        top: 40px;
        display: block;
    }

    .jes {
        position: relative;
        left: 100px;
        top: 40px;
        display: block;
    }

    .now {
        position: relative;
        top: 60px;
        height: 850px;
    }

    .local {
        text-align: center;
        width: 250px;
        height: 250px;
        position: relative;
        left: 65px;
        top: 40px;
        display: block;
    }

    .local h5 {
        margin-top: 50px;
    }

    .social {
        position: relative;
        top: 90px;
        right: 0px;
        left: 100px;
        display: block;

    }

    .socimg {
        position: relative;
        left: 00px;
        bottom: 0px;
        top: 150px;
        width: 380px;
        height: 280px;
    }

    .socimg img {
        width: 300px;
        position: relative;
        left: 35px;
        top: 40px;

    }

    .klop {
        display: block;
        width: 90px;
        height: 40px;
        position: relative;
        left: 5px;
        bottom: 10px;
    }

    .gen {
        display: block;
        width: 100px;
        height: 40px;
        position: relative;
        left: 120px;
        bottom: 0px;
        top: 45px;
    }

    .hov {
        display: block;
        width: 100px;
        height: 50px;
        position: relative;
        left: 270px;
        bottom: 50px;
    }

    .lion {
        position: relative;
        top: 50px;
        height: 730px;
    }

    .comboimg {
        position: relative;
        top: 150px;
        height: 500px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .az,
    .by {
        position: relative;
        top: 10px;
        left: 40px;
        display: block;

    }

    .xc,
    .wa {
        position: relative;
        bottom: 480px;
        left: 260px;
        display: block;

    }

    .zb,
    .zc {
        position: relative;
        left: 475px;
        bottom: 960px;
        display: block;
    }

    .zd,
    .xa {
        position: relative;
        left: 690px;
        bottom: 1440px;
        width: 200px;
        display: block;
        width: 200px;
    }

    .jag {
        display: block;
        position: relative;
        top: 20px;
        height: 840px;
    }

    .fri {
        display: block;
        height: 800px;
        position: relative;
        left: 0px;
        top: 30px;
    }

    .sat {
        text-align: center;
        font-size: small;

    }

    .mond {
        text-align: center;
    }

    .mond p {
        position: relative;
        left: 30px;
    }

    .blog {
        display: block;
        height: 560px;
        width: 380px;
        position: relative;
        left: 00px;
        bottom: 0px;
        top: 20px;
    }

    .man1 {
        width: 185px;

    }

    .man2 {
        width: 180px;
        height: 180px;
        position: relative;
        left: 4px;
        top: 10px;
    }

    .man3 {
        width: 180px;
        height: 170px;
        position: relative;
        left: 190px;
        bottom: 240px;
    }

    .ame {
        width: 120px;
        height: 60px;
        position: relative;
        left: 200px;
        bottom: 220px;
    }

    .ohc {
        height: 70px;
        width: 200px;
        position: relative;
        left: 40px;
        bottom: 200px;
    }

    .lol {
        position: relative;
        left: 0px;
        bottom: 180px;
        height: 70px;
    }

    .aso {
        position: relative;
        left: 0px;
        bottom: 160px;
        height: 90px;
    }

    .guj {
        position: relative;
        top: 50px;
    }
    .gao{
        background: none;
    }

    .gao img {
       display: none;
    }

    .fol{
        position: relative;
        bottom: 0px;
        right: 0px;
        display: block;
        width: 380px;
        height: 550px;
        border-radius: 5px;
        
    }
    .sapn{
        position: relative;
        top: 5px;
        left: 0px;
        text-align: center;
     }
     form{
        display: grid;
        justify-content: space-evenly;
        margin-left: 10px;
     }
     .suport{
        width: 300px;
        height: 350px;
        position: relative;
        left: 40px;
        bottom: 0px;
        top: 180px;
        
    }
    .suport h5{
        font-size: medium;
        position: relative;
        top: 5px;
        left: 10px;
    }
    .suport h5 img{
        position: relative;
        top: 5px;
        right: 5px;
    }
    .suport h2{
        font-size: medium;
        text-align: center;
        padding: 5px;
        background-color: #166772;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .suport span{
        font-size:medium;
    }
    .suport img{
        width: 30px;
        height: 25px;
    }
    .suport p{
        font-size: medium;
        position: relative;
        left: 10px;
        bottom: 5px;
    }
    .b{
        position: relative;
        top: 17px;
        left: 5px;
    }
    .c{
        position: relative;
        bottom: 0px;
        left: 5px;
    }
    .ugl .qe{
        position: relative;
        left: 20px;
    }
    .ugl .q{
        position: relative;
        bottom: 20px;
        left: 20px;
    }
    .a{
        position: relative;
        bottom: 5px;
        left: 5px;
    }
    .q{
        margin-left: 15px;
    }
    .qe{
        margin-left: 15px;
    }
    .qw{
        margin-left: 15px;
    }
    .ugl .qw{
        position: relative;
        bottom: 25px;
        left: 20px;
    }
    .ugl{
        position: relative;
        top: 5px;
        height: 220px;
        background-color: #a2b3b5;
        border-radius: 5px;
    }
    .tgbn{
        position: relative;
        top: 20px;
    }
    .wsx{
        position: relative;
        top: 30px;
    }
    .tgbn span{
        position: relative;
        left: 200px;
    }
    .wsx span{
        position: relative;
        left: 200px;
    }
    .rqvl{
        position: relative;
        top: 260px;
    }
    .rqvl h2, .bbb{
        color: #166772;
        font-size: xx-large;
        text-align: center;
        width: 150px;
        position: relative;
        left: 10px;
        width: fit-content;
    }
    .bbb{
        font-size: x-large;
        color: black;
    }
    .rqvl input{
        position: relative;
        left: 70px;
        bottom: 0px;
        top: 50px;
    }
    .rqvl button{
        position: relative;
        left: -120px;
        bottom: 0px;
        top: 110px;
        height: 30px;
        border: none;
        padding: 10px 20px;
        background-color: #166772;
        color: white;
        border-radius: 5px;
    }
    .rqvl input{
        width: 250px;
        height: 30px;
        border: none;
        border: 1px solid rgb(5, 105, 62);
    }
    .rqvl span{
        position: relative;
        left: 28px;
        top: 140px;
        color:  #166772;
    }
    .bhh{
        position: relative;
        left: 55px;
        bottom: -117px;
        width: fit-content;
    }
    footer{
        height: 740px;
        position: relative;
        top: 400px;
        background-color: #d4ecef;
    }
    .hery{
        height: 740px;
    }
    .tar{
        width: fit-content;
        height: fit-content;
        position: relative;
        left: 20px;
        bottom: 70px;
    }
    .itar{
        width: fit-content;
        height: fit-content;
        position: relative;
        left: 20px;
        bottom: 50px;
    }
    .uitar{
        width: fit-content;
        height: fit-content;
        position: relative;
        left: 180px;
        bottom:310px;
    }
    .with{
        width: 160px;
        position: relative;
        top: 550px;
        left: 100px;
    }
    .with img{
       position: relative;
       left: 40px;
    }
    .with p{
        text-align: center;
        
    }
    .follow{
        width: fit-content;
        height: fit-content;
        position: relative;
        bottom: 0px;
        left: 110px;
    }
    .hr{
        height: fit-content;
        width: 380px;
        height: 20px;
        position: relative;
        bottom: -5px;
        left: 0px;
        text-align: center;
        border-top: 1px solid black;
    }
    .hr p{
        font-size: x-small;
    }
    
}